[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediapipe = "==0.8.10.1"
typer = {extras = ["all"], version = "==0.6.1"}

[dev-packages]

[requires]
python_version = "3.9"
